<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Add cat</h3>
    <form name="add_cat" method="post" action="add_cat">
      <label for="cat_name">Cat name</label> <input style="width:200px" class="form-control" type="text" name="cat_name"><br /><input type="submit" value="Add" class="btn btn-primary">
    </form>
  </body>
</html>
